<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block title %}
    <title> Titulo </title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
</head>
<body>

{% block menu %}

<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/livro.png' %}" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_listagem'%}">Livros</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav">

            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_logout'%}">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_login'%}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'url_registrar'%}">Cadastre-se</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}

{% block prominence %}
   <form class="d-flex" method="POST" action="{% url 'url_busca' %}">
       {% csrf_token %}
       <input class="" type="search" placeholder="Search" aria-label="Search" name="busca">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
   </form>
{% endblock %}

<div class="container" >
    {% block content %}
    <p>contéudo</p>
    {% endblock %}
</div>

{% block footer %}
<div style="clear: both; height: 66px;"></div>
<div class="fixed-bottom bg-light d-flex justify-content-center">
    <p class="pt-3">Desenvolvimento Web Backend - SENAC</p>
</div>
{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>