{% extends 'primeira_app/base.html' %}

    {% block content %}
      <h1>Livros:</h1>
        <ul>
        {% for livro in livros %}
            <li><a href="{% url 'url_update' livro.id %}">{{livro.titulo}} - {{livro.valor}}</a></li>
            <ul>
            {% for autor in livro.autor.all %}
                <li>{{autor.nome}}</li>
                {% endfor %}
            </ul>

            {% endfor %}
        </ul>
    <a href="{% url 'url_novo' %}"><button type="submit">Adicionar</button></a>
    {% endblock %}
