{% extends 'livraria_app/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block prominence %}
{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-4 mx-auto mt-5">

        <img src="{% static 'img/livro.png' %}" height="100" alt="" >

        <h3>Login</h3>

            <hr>
        <form method="POST">

            {% csrf_token %}

            {{ form|crispy }}


            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <div class="form-check">
                        <input type="checkbox" name="rememberme" id="rememberme" class="form-check-input">
                        <small for="rememberme" class="form-check-label">Matenha-me conectado!</small>
                    </div>
                </div>
            </div>
            <div>
                <small>Não tem cadastro? <a class="" href="{% url 'registrar'%}">cadastre-se</a></small>
            </div>
            <a class="" href="{% url 'registrar'%}"><small>Esqueci minha senha</small></a>





        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}